header.blog-header img {
    display: block;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

section.markdown-intro {
    text-align: center;
    margin: 0rem 1rem;
}

section.markdown-intro p {
    text-align: left;
    margin-bottom: 3rem;
}

section.markdown-benefits {
    text-align: center;
    margin: 0rem 1rem;
}

section.markdown-benefits p {
    text-align: left;
    margin-bottom: 3rem;
}

section.markdown-example h2,
h3 {
    text-align: center;
}

section.markdown-input {
    margin: 0rem 1rem;
}

section.markdown-output {
    margin: 0rem 1rem;
}

section.markdown-import {
    text-align: center;
    margin: 0rem 1rem;
}

section.markdown-import p {
    text-align: left;
    margin-bottom: 3rem;
}

section.input-stats {
    border-style: solid;
    padding: 1rem;
}

section.input-stats p {
    margin: 0rem;
}

section.output-stats {
    border-style: solid;
    padding: 1rem;
}

div.example-heading h2,
div.example-heading h3{
    text-align: left;
}

footer {
    margin-left: 1rem;
}

picture {
display: block;
 top: 0rem;
 z-index: 0;
}